
#initiative{
	 font-size: 40px;
}

#ever{
		margin-left: 200px;
		margin-right: 200px
	}
#online{
	font-size: 50px
}

#unlike{
	margin-left: 200px; margin-right: 200px
}
#also{
		margin-left: 200px;
		margin-right: 200px;
	}
	#know{
		margin-left: 200px;
		margin-right: 200px;
	}

	#we{
		margin-left: 200px;
		margin-right: 200px;
	}

	#have{
		margin-left: 200px;
		margin-right: 200px;
	}
@media only screen and (max-width: 620px) {
	#initiative{
		font-size: 15px;
	}

	#ever{
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 10vh;
	}

	#online{
		font-size: 50px;
		margin-left: 20px;
		margin-right: 20px;
	}

	#unlike{
		margin-left: 20px;
		margin-right: 20px;
	}
	#also{
		margin-left: 20px;
		margin-right: 20px;
	}
	#know{
		margin-left: 20px;
		margin-right: 20px;
	}

	#we{
		margin-left: 20px;
		margin-right: 20px;
	}

	#have{
		margin-left: 20px;
		margin-right: 20px;
	}
}