{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block css %}
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='style/OnlineMess.css') }}">
{% endblock %}

{% block content %}
<header class="home-header w3-padding w3-center" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)),url('{{ url_for('static', filename='img/back.jpg')}}');background-repeat: no-repeat;
	background-size: cover;">

	<section class="w3-container w3-margin-bottom w3-text-white w3-padding-small">
		<h2>Welcome in the world of Messes<span class="change_content"></span></h2>
		<p>A Place To Find Healthy Food</p>
		<a href="/learn" class="w3-button w3-hover-white w3-center w3-acp-mid-green">Learn More</a>
		<a href="/search?text_query_name=" class="w3-button w3-hover-white w3-center w3-acp-mid-green">Get Started</a>					   
	</section>
<br/>
<br/>
<br/>
<!-- gallery section -->
<div id="gallery" class="w3-center w3-margin w3-round-large" style="background-color: #EEEEEE ;">
	<div class="row" class="w3-round">
		<div>
			<div class="w3-text-black w3-border-bottom w3-xxxlarge">Food Gallery</div>
			<hr>
			<div class="w3-row">
				<div class="w3-half">
				   <img class="w3-round-large" src="{{ url_for('static',filename='img/indianthali.jpg') }}" alt="Image not found" />
					
				</div>
				<div class="w3-half">
                    <img class="w3-round-large" src="{{ url_for('static',filename='img/completemeal.jpg') }}" alt="Image not found" />
				</div>
			</div>
			 <div class="w3-row">
				<div class="w3-half">
				    <img class="w3-round-large" src="{{ url_for('static',filename='img/south-indian.jpg') }}" alt="Image not found"/>
				</div>
				<div class="w3-half">
                    <img class="w3-round-large" src="{{ url_for('static',filename='img/mushroom.jpg') }}" alt="Image not found" />
				</div>
			</div>
		</div>
	</div>
</div>
</header>
{% endblock %}