{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block css %}
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='style/OnlineMess.css') }}">

{% endblock %}

{% block content %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<header class="home-header w3-padding w3-center" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)),url('{{ url_for('static', filename='img/back.jpg')}}');background-repeat: no-repeat;
	background-size: cover;">
	<br>

	<section class="w3-container w3-margin-bottom w3-text-white">
		<br>
		<br>
		<br>
		
	 
	 <p style = "font-family:Times New Roman,serif;letter-spacing: 5px;"class="w3-text-white"><b>Welcome in the world of messes</b></p>
        
	 	
		<h3>A Place To Find Healthy Food</h3>
		
		<h1>Earn great discounts on every plate you Subscribe !</h1>
		<br>
		<br>
		<br>
		
	  <a href="/search?text_query_name=" class="w3-button w3-hover-white w3-acp-mid-green">Get Started</a>

	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br><br>

	  <div class="w3-xxxlarge" style="color: black">What is Onlinemess !</div>	
	  <p id = "amey">In cities, People Who are dependent on messes for their need of healthy meal, Generally struggle to find place where they can get hygienic meal. Even if one finds such mess which provide quality of food, He/She have to pay there for the meal of entire month to get it at a affordable price.<br><br> So, this is our initiative to help such people to find out good messes and making available hygienic food at the least possible price.</p>	
	  <br>


	  <a href="/learn" class="w3-button w3-hover-white w3-center w3-acp-mid-green">Learn More</a>		   
	</section>
<br/>
<br>
<br>
<br><br>
<!-- gallery section -->
<div id="gallery" class="w3-center w3-margin w3-round-large" style="background-color: #EEEEEE ;">
	<div class="row" class="w3-round">
		<div>
			<div class="w3-text-black w3-border-bottom w3-xxxlarge">Food Gallery</div>
			<hr>
			<div class="w3-row">
				<div class="w3-half">
				   <img class="w3-round-large" src="{{ url_for('static',filename='img/indianthali.jpg') }}" alt="Image not found" />
					
				</div>
				<div class="w3-half">
                    <img class="w3-round-large" src="{{ url_for('static',filename='img/completemeal.jpg') }}" alt="Image not found" />
				</div>
			</div>
			 <div class="w3-row">
				<div class="w3-half">
				    <img class="w3-round-large" src="{{ url_for('static',filename='img/south-indian.jpg') }}" alt="Image not found"/>
				</div>
				<div class="w3-half">
                    <img class="w3-round-large" src="{{ url_for('static',filename='img/mushroom.jpg') }}" alt="Image not found" />
				</div>
			</div>
		</div>
	</div>
</div>
</header>
{% endblock %}