{% extends "base.html" %}
{% block title %}Learn more{% endblock %}
{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,700;0,900;1,200;1,300&display=swap" rel="stylesheet"> 
	<div class="w3-panel w3-leftbar w3-rightbar w3-border-acp-mid-green w3-center w3-padding w3-margin-bottom">
		<div style="font-family: 'Titillium Web', sans-serif" class="w3-xxxlarge w3-margin-bottom">Online-Mess</div>
		<br>
		<strong style="font-family: 'Titillium Web', sans-serif; font-size: 40px">An initiave By the students for the students</strong>
		
		<div style="font-family: 'Titillium Web', sans-serif; color: grey; margin-left: 200px; margin-right: 200px">Ever thought about getting free from that nausiating atmosphere of your mess ? Ever found it unfair when you pay for the meal of the entire month just to get few percents of discount ? This is where concept of Online-Mess arises !<br> This is a platform have listed number of messes that too completely verified on the basis of the quality of food they serve, Hygiene level at the cooking site and affordability especially in perspective of students.</div>
		<br>
		<br>
		<br>
		<br>
		<strong style="font-family: 'Titillium Web', sans-serif; font-size: 40px">Pay only for one at a time</strong>
		<div style="font-family: 'Titillium Web', sans-serif; color: grey; margin-left: 200px; margin-right: 200px">Unlike messes, We are charging you only for the meal that you have chosen at a particular time. So Henceforth, You need not have to pay for the month's meal to get it at a affordable price.</div>

		<br>
		<br>
		<br>
		<br>

		<strong style="font-family: 'Titillium Web', sans-serif; font-size: 40px">Don't compromise for hygiene henceforth</strong>
		<div style="font-family: 'Titillium Web', sans-serif; color: grey; margin-left: 200px; margin-right: 200px">We guarantee for the cleanlinees and hygiene in which your meal is cooked. Each and every mess listed on this platform have been verified in terms of the hygiene level at the cooking site.</div>

		<br>
		<br>
		<br>
		<br>

		<strong style="font-family: 'Titillium Web', sans-serif; font-size: 40px">Earn great discounts</strong>
		<div style="font-family: 'Titillium Web', sans-serif; color: grey; margin-left: 200px; margin-right: 200px">We have made sure that users of this platform will get the items at the price at which that particular mess serves it to their daily customers. We are also giving additional discounts. You can even verify this fact by visiting particular mess itself.</div>

		<br>
		<br>
		<br>
		<br>

		<strong style="font-family: 'Titillium Web', sans-serif; font-size: 40px">Try variety of food</strong>
		<div style="font-family: 'Titillium Web', sans-serif; color: grey; margin-left: 200px; margin-right: 200px">We know that one gets bored of the same taste everyday. So this platform have listed number of messes that can be accessed at any time.</div>

		<br>
		<br>
		<br>
		<br>

		<strong style="font-family: 'Titillium Web', sans-serif; font-size: 40px">Resgiter your mess here</strong>
		<div style="font-family: 'Titillium Web', sans-serif; color: grey; margin-left: 200px; margin-right: 200px">We also care for the messes ! We have created an interface on this website for mess owners where they can register their mess on this platform. After that particular mess will be assigned hygiene rating after the verification. This is how messes are listed on this platform !</div>


		<h1>That's all guys ! Lets start your journey by exploring the messes in your city.</h1>
		
	
	
{% endblock %}
