{% extends "base.html" %}
{% block title %}Learn more{% endblock %}
{% block css %}
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='style/learn.css') }}">
	<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,700;0,900;1,200;1,300&display=swap" rel="stylesheet"> 
{% endblock %}
{% block content %}

	<div class="w3-panel w3-border-acp-mid-green w3-center w3-padding w3-margin-bottom" style="font-family: 'Titillium Web', sans-serif;	">
		<div id="online">Online Mess</div>
		<strong id="initiative">An initiave by the students for the students</strong>
		
		<div id="ever" style="color: grey;">Ever thought about breaking free from the nauseating atmosphere of your daily mess? Ever found it unfair when you have to pay for an entire month's meal at a time just to get few percents of discount? This is where our concept of Online Mess arises! <br> Here we have listed a number of messes which cover a variety of cuisines and are verified on the basis of the food quality, hygiene level and affordability especially from perspective of students.</div>
		<br>
		<br>
		<br>
		<br>
		<strong style="font-size: 40px">Pay for one item at a time</strong>
		<div id="unlike" style="color: grey">Unlike traditional messes subscriptions, we are charging you only for the meal that you have chosen and without any sort of weekly-monthly plan or restriction. So, you don't have to pay for a monthly subscription to get it at a affordable price.</div>

		<br>
		<br>
		<br>
		<br>

		<strong style="font-size: 40px">Henceforth, don't compromise for hygiene</strong>
		<div id="we" style="color: grey;">We guarantee the cleanliness and hygiene level of each of the environment  in which your meal is cooked. Each and every mess listed on this platform have been inspected and verified in terms of the hygiene level at the cooking site.</div>

		<br>
		<br>
		<br>
		<br>

		<strong style="font-size: 40px">Earn great discounts</strong>
		<div id="have" style="color: grey;">We assure you that our item listing is always the same as the offline listings of the restaurant/mess. We are also giving additional discounts. You can even verify this fact by visiting particular mess itself.</div>

		<br>
		<br>
		<br>
		<br>

		<strong style="font-size: 40px">Experience a variety of cuisines</strong>
		<div id="know" style="color: grey;">We know that eating the same food or cuisine everyday is boring. So we've made sure that you will always have something different to try out.</div>

		<br>
		<br>
		<br>
		<br>

		<strong style="font-size: 40px">Register your mess</strong>
		<div id="also" style="color: grey;">We also care for the messes! We have created an interface for mess owners to register their mess using a 'Business' account. After that, the particular mess will be assigned a hygiene rating after the inspection. This is how messes are listed on this platform.</div>


		<div style="margin-top: 10vh; font-size: 40px"><b>Lets start your journey by exploring the messes in your city.</b></div>
</div>
		
	
	
{% endblock %}
