{% extends "base.html" %}
{% block title %}What's Next{% endblock %}
{% block css %}{% endblock %}
{% block content %}
<div class="w3-container w3-padding-large">
	<header class="w3-container">
		<div class="w3-xxlarge w3-margin-top w3-center">What's Next !</div>
	</header>
	<div class="w3-container w3-padding w3-margin">
		<div class="w3-large w3-margin-top w3-center">
			This was just a demo website. We have not tied up with any of the messes registered on this website. But we are thinking of it. What do you think? Let us know about your experience with this website on our social media handles.
		</div>
		<div class="w3-padding w3-acp-dark-green w3-border-acp-mid-green w3-leftbar w3-rightbar w3-margin-top ">
			
			
			<div class="w3-container w3-hide-small w3-hide-medium w3-center">
				Developed by:
					<div>Ritesh Thakur &emsp; and &emsp; Amey Thakur</div>
					<div>
						<a href="https://twitter.com/ritesh_dt" target="_blank"><i class="fa fa-twitter w3-xlarge"></i></a>
						<a href="https://www.linkedin.com/in/ritesh-dt" target="_blank"><i class="fa fa-linkedin w3-xlarge"></i></a>
						<a href="mailto:riteshdthakur@gmail.com"><i class="fa fa-envelope w3-xlarge"></i></a>
						<a href="https://github.com/ritesh-dt" target="_blank"><i class="fa fa-github w3-xlarge"></i></a>&emsp; &emsp; &emsp; &emsp; &emsp; &nbsp;

						<a href="https://twitter.com/ameythakur9" target="_blank"><i class="fa fa-twitter w3-xlarge"></i></a>
						<a href="https://www.linkedin.com/in/amey-thakur-54a030134" target="_blank"><i class="fa fa-linkedin w3-xlarge"></i></a>
						<a href="mailto:amey36thakur@gmail.com"><i class="fa fa-envelope w3-xlarge"></i></a>
						<a href="https://github.com/ameythakur-del" target="_blank"><i class="fa fa-github w3-xlarge"></i></a>	
					</div>
				</div>

			<div class="w3-container w3-hide-large w3-center">
				Developed by:
				<div style="font-size: 15px">Ritesh Thakur</div>
					<div>
						<a href="https://twitter.com/ritesh_dt" target="_blank"><i class="fa fa-twitter w3-xlarge"></i></a>
						<a href="https://www.linkedin.com/in/ritesh-dt" target="_blank"><i class="fa fa-linkedin w3-xlarge"></i></a>
						<a href="mailto:riteshdthakur@gmail.com"><i class="fa fa-envelope w3-xlarge"></i></a>
						<a href="https://github.com/ritesh-dt" target="_blank"><i class="fa fa-github w3-xlarge"></i></a>
					</div>
				<div style="font-size: 15px">Amey Thakur</div>
					<div>
						<a href="https://twitter.com/ameythakur9" target="_blank"><i class="fa fa-twitter w3-xlarge"></i></a>
						<a href="https://www.linkedin.com/in/amey-thakur-54a030134" target="_blank"><i class="fa fa-linkedin w3-xlarge"></i></a>
						<a href="mailto:amey36thakur@gmail.com"><i class="fa fa-envelope w3-xlarge"></i></a>
						<a href="https://github.com/ameythakur-del" target="_blank"><i class="fa fa-github w3-xlarge"></i></a>	
					</div>		
			</div>
		<div class="w3-padding w3-light-blue w3-border-dark-blue w3-leftbar w3-rightbar w3-margin-top w3-center	">
			Special thanks to Rishikesh, Abhay and Vishal who helped us along the way!!
		</div>
	</div>
</div>
{% endblock %}