{% extends "base.html" %}
{% block title %}Subscriptions{% endblock %}
{% block content %}
<div class="w3-container">
	<form method="post">
		<p>
			Account Status: {% if verified %}
								Verified
							{% else %}
								Not verified
								<input type="submit" class="w3-button w3-round w3-blue w3-margin"name="button_verify" value="Send verification email"/>
							{% endif %}
		</p>
	</form>
	{% for restaurant in subscribed_list %}
		<div class="w3-card w3-round-large w3-third w3-margin w3-hover-shadow">
			<div class="w3-container">
				<h3 class="w3-xlarge">{{restaurant[0].name}}</h3>
				{% for order in restaurant[1] %}
					<div class="w3-text-black w3-large">
						{{order[0]}} x{{order[1]}}
					</div>
				{% endfor %}
			</div>
			<footer class="w3-container w3-margin-bottom">
				<h3 class="w3-text-green w3-right">Rs. {{restaurant[2]}} Code - {{restaurant[4]}}</h3>
				<div class="w3-text-red">Valid till {{ restaurant[3] }}</div>
			</footer>
		</div>
	{% endfor %}
</div>
{% endblock %}