{% extends "base.html" %}
{% block title %}Subscriptions{% endblock %}
{% block content %}
<div class="w3-container w3-margin w3-margin">
	<!--<form method="post">-->
		<p>
			Account Status: {% if verified %}
								Verified
							{% else %}
								<span>Not verified</span>
								<input type="button" class="w3-button w3-mobile w3-round w3-blue"name="button_verify" value="Send verification email" disabled />
								<span class="w3-text-red">(Heroku implementation pending)</span>
							{% endif %}
		</p>
	<!--</form>-->
	
	{% for restaurant in subscribed_list %}
	<div class="w3-third">
		<div class="w3-card w3-round-large w3-margin w3-hover-shadow">
			<div class="w3-container">
				<h3 class="w3-xlarge">{{restaurant[0].name}}</h3>

				{% for order in restaurant[1] %}
					<div class="w3-text-black w3-large">
						{{order[0]}} &times;{{order[1]}}
					</div>
				{% endfor %}
				<h3 class="w3-text-acp-mid-green">Rs. {{restaurant[2]}}</h3>
			</div>
			<footer class="w3-container">
				<div class="w3-text-dark-blue w3-light-grey w3-round w3-padding w3-right-align w3-xlarge">Coupon code - {{restaurant[4]}}</div>
				<div class="w3-text-red w3-small w3-margin-top w3-margin-bottom">Valid till {{ restaurant[3] }}</div>
			</footer>
		</div>
	</div>
	{% endfor %}

</div>
<button class="w3-bar-item w3-button w3-bottom w3-hover-acp-mid-green w3-sienna" onclick="open_modal('next_modal')">What's Next !</button>

<div id="next_modal" class="w3-modal" style="display: none; position: fixed;">
	<div class="w3-modal-content">
		<header class="w3-container">
			<span class="w3-display-topright w3-button" onclick="close_modal('next_modal')">&times;</span>
			<div class="w3-large w3-margin-top">What's Next !</div>
		</header>
		<div class="w3-container w3-padding w3-margin-bottom">
			<div class="w3-large w3-margin-top">
				This was just a demo website. We have not tied up with any of the messes registered on this website. But we are thinking of it. What do you think? Let us know about your experience with this website on our social media handles.
			</div>
			<div class="w3-padding w3-acp-dark-green w3-border-acp-mid-green w3-leftbar w3-rightbar w3-margin-top ">
				
				
				Developed by:
				<div class="w3-container">
					<div class="w3-row">
					<div class="w3-col l3">Ritesh Thakur</div>
					<div class="w3-col l4">
							<a href="https://twitter.com/ritesh_dt" target="_blank"><i class="fa fa-twitter w3-xlarge"></i></a>
							<a href="https://www.linkedin.com/in/ritesh-dt" target="_blank"><i class="fa fa-linkedin w3-xlarge"></i></a>
							<a href="mailto:riteshdthakur@gmail.com"><i class="fa fa-envelope w3-xlarge"></i></a>
							<a href="https://github.com/ritesh-dt" target="_blank"><i class="fa fa-github w3-xlarge"></i></a>
					</div>

					<br>
					<div class="w3-row">
					<div>
						<div class="w3-col l3"> Amey Thakur</div>
						<div class="w3-col l3">
							<a href="https://twitter.com/ameythakur9" target="_blank"><i class="fa fa-twitter w3-xlarge"></i></a>
							<a href="https://www.linkedin.com/in/amey-thakur-54a030134" target="_blank"><i class="fa fa-linkedin w3-xlarge"></i></a>
							<a href="mailto:amey36thakur@gmail.com"><i class="fa fa-envelope w3-xlarge"></i></a>
							<a href="https://github.com/ameythakur-del" target="_blank"><i class="fa fa-github w3-xlarge"></i></a>	
						</div>
					</div>	
				</div>		
			</div>
			<div class="w3-padding w3-light-blue w3-border-dark-blue w3-leftbar w3-rightbar w3-margin-top">
				Special thanks to Rishikesh, Abhay and Vishal who helped us along the way!!
			</div>
		</div>
	</div>
</div>
{% endblock %}