{% extends "base.html" %}
{% block title %}User{% endblock %}
{% block content %}
	<p>Email: {{ email }}</p>
	<hr/>
	{% if account_type == "Business" %}
		<div class="w3-blue w3-padding">
			<h2>Manage your business</h2>
		</div>
		<form method="post" class="w3-container w3-half	w3-margin-top w3-padding">
			<p>
				<label>Name: </label>
				<input type="text" class="w3-input" name="text_name" value="{{ restaurant.name }}" />
			</p>
			<p>
				<label>Address: </label>
				<input type="text" class="w3-input" name="text_address" value="{{ restaurant.address }}" />
			</p>
			<p>
				<label>Phone: </label> 
				<input type="tel" class="w3-input" name="text_phone" value="{{ restaurant.phone }}" pattern="+91[0-9]*10" />
			</p>
			<p>	
				<label>Website: </label>
				<input type="url" class="w3-input" name="text_website" value="{{ restaurant.website }}" />
			</p>
			<p>
				<label>Timing: </label>
				<input type="time" class="w3-input" name="text_timing" value="{{ restaurant.timing }}" />
			</p>
			<p>
				<label>Tags (vegan, kids-friendly, south indian, etc): </label>
				<input type="text" class="w3-input" name="text_tags" value="{{ restaurant.tags }}" />
			</p>
			<h3>Menu:</h3>
			{% for i in range(15) %}
				<div class="w3-row-padding w3-margin-top">
					<div class="w3-col">
						<label>Item {{i+1}}: </label>
					</div>
					<div class="w3-col l4">
						<input type="text" class="w3-input" name="text_menu_name_{{i}}" placeholder="Name" value="{{ menu[i][0] }}" />
					</div>
					<div class="w3-col l4">
						<input type="text" class="w3-input " name="text_menu_price_{{i}}" size="10%"placeholder="Price" value="{{ menu[i][1] }}" />
					</div>
					<div class="w3-col l4">
						<label>Monthly subscription</label>
						<input type="checkbox" name="checkbox_menu_subscribe_{{i}}" />
					</div>
				</div>
			{% endfor %}
			<div class="w3-container w3-margin-top">
				<input type="submit" value="Register" class="w3-button w3-green" name="button_register" />
			</div>
		</form>
		<form method="post", enctype="multipart/form-data" class="w3-container w3-half w3-margin-top">
			<h3>Images:</h3> 
			<p>
				{% for img in restaurant.images %}
					<div class="w3-container w3-margin-bottom">
						<div class="w3-container w3-padding">
							<img src="{{ url_for('send_image', filename=img.image_name) }}" alt="Image not found" name="image_{{ img.id }}" class="w3-margin-top" height="300px">
						</div>
						<div class="w3-container">
							<input type="submit" class="w3-button w3-red" name="button_image_delete_{{ img.id }}" value="Delete" />
						</div>
					</div>
				{% endfor %}
			</p>
			<p>
				<input type="file" class="w3-button w3-border" name="file_image" accept="image/*" 
				{% if not restaurant %}
					disabled
				{% endif %} />
			</p>
			<p>
				<input type="submit" name="button_image" class="w3-button w3-green" value="Upload" 
				{% if not restaurant %}
					disabled
				{% endif %} />
			</p>
		</form>
	{% endif %}
{% endblock %}