{% extends "base.html" %}
{% block title %}Manage
					{% if restaurant.name %}
						 - {{restaurant.name}}
					{% endif %}
{% endblock %}
{% block content %}
	{% if account_type == "Business" %}
		<div class="w3-blue w3-padding">
			<h2>Manage your business</h2>
		</div>
		<form method="post" class="w3-container w3-half	w3-margin-top w3-padding">
			<p>
				<label>Name: </label>
				<input type="text" class="w3-input" name="text_name" value="{{ restaurant.name }}" />
			</p>
			<p>
				<label>Pure vegetarian: </label>
				<input type="checkbox" class="w3-check" name="checkbox_vegetarian" value="{{ restaurant.vegetarian }}" 
				{% if restaurant.vegetarian %}
					checked
				{% endif %}	/>
			</p>
			<p>
				<label>Address: </label>
				<input type="text" class="w3-input" name="text_address" value="{{ restaurant.address }}" />
			</p>
			<p>
				<label>Phone: </label> 
				<input type="tel" class="w3-input" name="text_phone" value="{{ restaurant.phone }}" pattern="+91[0-9]*10" />
			</p>
			<p>
				<label>Open from: </label>
				<input type="time" class="w3-input" name="text_timing_opening" value="{{ restaurant.timing }}" />
			</p>
			<p>
				<label>Open till </label>
				<input type="time" class="w3-input" name="text_timing_closing" value="{{ restaurant.timing }}" />
			</p>
			
			<p>
				<label>Tags (kids-friendly, south indian, etc): </label>
				<input type="text" class="w3-input" name="text_tags" value="{{ restaurant.tags }}" />
			</p>
			<h2>Menu:</h2>
			<h3>Menu available for monthly subscriptions</h3>
			<div class="w3-row-padding w3-margin-top">
					<div class="w3-col">
						<label>Item : </label>
					</div>
					<div class="w3-col l4">
						<input type="text" class="w3-input" name="main_menu_name" placeholder="Name" value="" />
					</div>
					<div class="w3-col l4">
						<input type="text" class="w3-input " name="main_menu_price" size="10%"placeholder="Price" value="" />
					</div>
					
				</div>
			<h3>Others items available</h3>
			{% for i in range(15) %}
				<div class="w3-row-padding w3-margin-top">
					<div class="w3-col">
						<label>Item {{i+1}}: </label>
					</div>
					<div class="w3-col l4">
						<input type="text" class="w3-input" name="text_menu_name_{{i}}" placeholder="Name" value="{{ menu[i][0] }}" />
					</div>
					<div class="w3-col l4">
						<input type="text" class="w3-input " name="text_menu_price_{{i}}" size="10%"placeholder="Price" value="{{ menu[i][1] }}" />
					</div>
					
				</div>
			{% endfor %}
			<div class="w3-container w3-margin-top">
				<input type="submit" value="Register" class="w3-button w3-green" name="button_register" />
			</div>
		</form>
		<form method="post", enctype="multipart/form-data" class="w3-container w3-half w3-margin-top">
			<h3>Images:</h3> 
			<p>
				{% for img in restaurant.images %}
					<div class="w3-container w3-margin-bottom">
						<div class="w3-container w3-padding">
							<img src="{{ url_for('send_image', filename=img.image_name) }}" alt="Image not found" name="image_{{ img.id }}" class="w3-margin-top" height="300px">
						</div>
						<div class="w3-container">
							<input type="submit" class="w3-button w3-red" name="button_image_delete_{{ img.id }}" value="Delete" />
						</div>
					</div>
				{% endfor %}
			</p>
			<p>
				<input type="file" class="w3-button w3-border" name="file_image" accept="image/*" 
				{% if not restaurant.name %}
					disabled
				{% endif %} />
			</p>
			<p>
				<input type="submit" name="button_image" class="w3-button w3-green" value="Upload" 
				{% if not restaurant.name %}
					disabled
				{% endif %} />
				{% if not restaurant.name %}
					<p>Please fill in the details to the right first</p>
				{% endif %}
			</p>
		</form>
	{% endif %}
{% endblock %}